body{
    background-color: rgb(165, 39, 10);;
}
.navbarDiv{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.navbarDiv > h2 {
    color: beige
}
.nav > button{
    margin: 10px;
    color: whitesmoke;
    background-color: rgb(165, 39, 10);
    border: none;
    cursor: pointer;
}
.header{
    margin: 20px  auto;
    color: white;
    height: 360px;
    text-shadow: 2px 2px black;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://mandc-bl-assets.s3.amazonaws.com/live/southgatebath/2024/09/20104455/Alchemy_Lifestyle_Imagery.jpeg");
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center;
}
.header > button{
    width: 100px;
    height: 30px;
    color: rgb(165, 39, 10);
    background-color: moccasin;
    border: none;
    border-radius: 20px;
}
.form{
    display: flex;
    justify-content: center;    
    color: antiquewhite;
}
.form > input{
    border: goldenrod solid 2px;
    margin-right: 10px;
    border-radius: 5px;
    width: 300px;
}
.searchBtn{
    border:goldenrod solid 2px ;    
    background-color: goldenrod;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
select{
    background-color:rgb(165, 39, 10);
    padding: 5px;
    border: white solid 1px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}
.cardDiv {
    background-color: beige;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(240, 150, 130);
    transition: all 0.3s;
    width: 240px;
    margin: 10px;
}
.inputCard{
    border: rgb(165, 39, 10) solid 2px;
    margin-right: 10px;
    border-radius: 5px;
}
.buttonCard{
    border:rgb(165, 39, 10) solid 2px ;    
    background-color: rgb(165, 39, 10);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.card{
    background-color: beige;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 50%px;
    justify-content: space-between;
}
.cardDiv:hover {
    box-shadow: 0 8px 16px 0 rgb(240, 150, 130);
}
.cardDiv > img{
    width: 240px;
    height: 250px;
    background-size: cover;
}
.shoppingCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-weight: 700;
}
.cartButton{
    color: rgb(165, 39, 10);
    background-color: antiquewhite;
    border-radius: 20px;
    height: 35px;
    border: none;
    margin: 100px 10px;
    font-weight: 700;
}
.disabledBtn{
    border:rgb(229, 141, 122) solid 2px ;    
    background-color: rgb(229, 141, 122);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    align-items: center;
}
.pDiv{
    text-align: center;
    margin: 0 auto;
    color: rgb(165, 39, 10);
    font-weight: bold;
} 